@model List<BurgerProjesi.Entities.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin1/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Listesi</h4>
            <p class="card-description">
              
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>KATEGORİ ID</th>
                            <th>KATEGORİ ADI</th>
                            <th>KATEGORİ ÜRÜNLERİ</th>
                            <th>SİL</th>
                            <th>GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryID</td>
                                <td>@item.CategoryName</td>
                                <td><a href="#" class="btn btn-warning">Kategori Ürünleri</a></td>
                                <td><a href="#" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-success">Güncelle</a></td>
                            </tr>

                        }


                    </tbody>
                </table>
                <td><a href="#" class="btn btn-primary">Yeni Kategori Girişi</a></td>
            </div>
        </div>
    </div>
</div>

