
<section class="site-section bg-light" id="section-contact">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Bizimle İletişime Geçin</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-7 mb-5 site-animate">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name" class="sr-only">Ad</label>
                        <input type="text" class="form-control" id="ad" placeholder=ADINIZ:>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="E-mail:">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Mesaj</label>
                        <textarea name="mesaj" id="message" cols="30" rows="10" class="form-control" placeholder="Mesajı Yazınız"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Mesajı İletin">
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 site-animate">
                <p><img src="/eatwell-master/images/about_img_1.jpg" alt="" class="img-fluid"></p>
                <p class="text-black">
                    Adres: <br> 121 Street, Melbourne Victoria <br> 3000 Australia <br> <br>
                    Telefon: <br> 90 987 65 44 <br> <br>
                    E-mail: <br> <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                </p>

            </div>

        </div>
    </div>
</section>